---
---
/* Estilo da Barra de Navegação - Inspirado em kellynduarte.dev */
.navigation-wrapper {
  background-color: #000; /* Cor preta */
  padding: 10px 20px;
  max-width: fit-content;
  margin: 20px auto; /* Centraliza a barra */
  border-radius: 10px; /* Bordas arredondadas */
  display: flex;
  justify-content: center;
}

.navigation-wrapper ul li a {
  color: #fff !important; /* Texto branco */
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 0 15px;
}

.navigation-wrapper ul li a:hover {
  color: #ccc !important; /* Cor ao passar o mouse */
}