@import "so-simple-theme";

// Customizações para o estilo Kellyn Duarte
.navigation-wrapper {
  background-color: #000 !important;
  border-radius: 50px; 
  padding: 5px 25px;
  margin: 20px auto;
  max-width: fit-content;
}

.navigation-wrapper ul li a {
  color: #fff !important;
  font-weight: bold;
  font-size: 0.8em;
}